<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifam.devm.appacai">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_logo_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.AppAcai">
        <activity
            android:name=".ui.venda.ProdutoAvaliadoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro_produto.AvaliarProdutosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venda.VendaRealizadaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venda.RealizarPagamentoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venda.ConfirmacaoPedidoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.venda.SelecaoProdutosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.VendedorMainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.SobreOAppActivity"
            android:exported="false" />
        <activity
            android:name=".ui.funcionarios.VisualizarFuncionarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.funcionarios.EditarFuncionarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.funcionarios.FuncionariosCadastrar"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro_produto.VisualizarProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro_produto.EditarProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro_produto.CadastrarProdutoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.cadastro_user.EditarDadosUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.startup.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.senha.RecuperarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.senha.AlterarSenhaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.startup.StartupActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>